@charset 'utf-8';

@import "lib/sass/_theme_info";

// メディアクエリ用
$pc: 1200px; // PC
$tab: 991px; // タブレット
$sp: 767px;  // スマホ

@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
}
@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

// 変数
$title-font: 'Josefin Sans', sans-serif;
$jap-font: 'Noto Sans JP','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
$main-color: #1f3134;
$sub-color: #eb6100;
$grey-color: #ebebeb;
$bg-grey-color: #eeeeee;

// コンテナ
.container {
    width: 100%;
    overflow: hidden;
    font-family: $jap-font;
}

.fade__in__out {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: all 1s;
}
.fade__in__out.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

@import "lib/sass/_reset";
@import "lib/sass/_header";
@import "lib/sass/_bread";
@import "lib/sass/_front";
@import "lib/sass/_company";
@import "lib/sass/_news";
@import "lib/sass/_service";
@import "lib/sass/_contact";
@import "lib/sass/_footer";
@import "lib/sass/_404";